@import "scss/variables";

.registration {
  &-section {
    &-container {
      > * + * {
        margin-top: 2rem;
      }
    }
    &-title {
      margin-bottom: 1rem;
      h1 {
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0;
      }
      p {
        font-size: 0.7rem;
        color: $subtitle;
      }
    }
  }
  &-ticket {
    &-container {
      display: flex;
      overflow: auto;
      max-width: 700px;
      flex-wrap: nowrap;
      > * + * {
        margin-left: 0.75rem;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &-workshop {
    > * + * {
      margin-top: 0.75rem;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 0.45rem;
      border: 1px solid $lightGray;
      transition: $transition;
      &:hover {
        background: $transparentPrimary;
      }
      &.active {
        background: $transparentPrimary;
        border-color: $primary;
        box-shadow: $shadowSm;
      }
      &-info {
        text-align: right;
        &-price {
          font-weight: 600;
          color: $primary;
          &-subtitle {
            font-size: 0.65rem;
            color: $subtitle;
          }
        }
      }
    }
  }
}
