@import "scss/variables";
@import "scss/breakpoints";

.login {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  @media screen and (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 4rem;
  }
}
