@import "scss/variables";

.login-container {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  .login-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 4rem;
  }
  .login-sidebar {
    background: $primary;
  }
}
