@import "scss/variables";

.profile {
  display: flex;
  &__content {
    margin-left: 0.85rem;
    .profile {
      &__title {
        font-size: 0.875rem;
      }
      &__subtitle {
        color: $subtitle;
        font-size: 0.75rem;
      }
    }
  }
}
