@import "scss/variables";

.button {
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.875rem 2rem;
  border: 1px solid transparent;
  font-weight: 600;
  transition: all $transition;
  &:active {
    transform: scale(0.98);
  }
  &--primary {
    background: $primary;
    &:hover,
    &:focus {
      background: $primaryDark;
    }
    &:focus {
      box-shadow: $shadow;
    }
  }
  &--secondary {
    background: $white;
    color: $primary;
    border-color: $primary;
    &:hover,
    &:focus {
      background: $transparentPrimary;
    }
    &:focus {
      box-shadow: $shadow;
    }
  }
  &--danger {
    background: $error;
    &:hover,
    &:active {
      background: $errorDarker;
    }
    &:focus {
      box-shadow: $shadowError;
    }
  }
  &--small {
    padding: 0.65rem 1.25rem;
    font-size: 0.75rem;
  }
  &--full {
    width: 100%;
  }
}
