@import "scss/variables";

.event-modal-container {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  .event-modal {
    width: 40%;
    padding: 2.5rem;
    &-header {
      text-align: center;
      &-title {
        font-size: 1.5rem;
        margin: 0;
      }
      &-tagline {
        color: $subtitle;
        font-size: 0.875rem;
      }
    }
    &-body {
      margin-top: 3.5rem;
    }
  }
}
