@import "scss/variables";

.login-form-header {
  margin-bottom: 2.5rem;
  p {
    color: $gray;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
  }
}
