@import "scss/variables";
@import "scss/breakpoints";

.login-sidebar {
  background: $primary;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 8rem;
  @media screen and (max-width: $breakpoint-md) {
    display: none !important;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    > * {
      opacity: 0.025;
    }
  }
  &__wrapper {
    z-index: 99;
  }
  &__body {
    width: 500px;
    margin-top: 0.75rem;
    .login-sidebar {
      &__title {
        font-weight: 600;
        margin-bottom: 0.25rem;
        color: $white;
      }
      &__subtitle {
        color: $placeholder;
        font-size: 0.8rem;
      }
    }
  }
}
