@import "scss/variables";

.header {
  position: sticky;
  left: 0;
  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__hashtag {
    margin-right: 0.25rem;
    color: $gray;
  }
  &__subtitle {
    color: $subtitle;
    font-size: 0.875rem;
  }
}
