@import "scss/variables";

.timeline-header {
  position: sticky;
  left: 0;
  h1 {
    span {
      margin-right: 0.25rem;
      color: $gray;
    }
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    color: $subtitle;
    font-size: 0.875rem;
  }
}
