@import "scss/variables";

.card {
  position: relative;
  background: $white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 2px 6px, rgba(0, 0, 0, 0.06) 0px 0px 1px;
  border: 1px solid $border;
  cursor: pointer;
  transition: all $transition;
  overflow: hidden;
  height: 10.5rem;
  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 2px 6px, rgba(0, 0, 0, 0.06) 0px 0px 1px;
    border-color: $primary;
    .card__circle {
      transform: scale(2.5);
    }
  }
  &__circle {
    position: absolute;
    background: $transparentPrimary;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all $transition;
    right: -60%;
    top: 40%;
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.15rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    .card__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      transition: all $transition;
      &:hover {
        background: rgba(52, 93, 238, 0.08);
        border-radius: 0.35rem;
      }
    }
  }
  &__content {
    .card__title {
      font-size: 1.05rem;
      font-weight: 700;
    }
    .card__subtitle {
      color: $subtitle;
      font-size: 0.75rem;
    }
  }
}
