@import "scss/variables";

.card {
  padding: 0.75rem 1rem;
  border-radius: 0.35rem;
  border: 1px solid $placeholder;
  cursor: pointer;
  transition: $transition;
  background: $white;
  &:hover {
    border-color: $primary;
    box-shadow: $shadowSm;
  }
  &__title {
    font-weight: 600;
    font-size: 0.875rem;
  }
  &__subtitle {
    color: $subtitle;
    font-size: 0.75rem;
  }
  &--active {
    background: $primary;
    border-color: $primary;
    box-shadow: $shadowMd;
    .card {
      &__title {
        color: $white;
      }
      &__subtitle {
        color: $placeholder;
      }
    }
  }
}
