@import "scss/variables";

.registration {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .registration-stepper {
      display: flex;
      align-items: center;
    }
  }
  &-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 2rem;
    margin-top: 3rem;
    .registration {
      &-content {
        background: $white;
        border: 1px solid $border;
        border-radius: 0.35rem;
      }
      &-content {
        padding: 1rem 1.25rem 1.25rem;
        &-body {
          padding-bottom: 0.5rem;
        }
        &-action {
          margin-top: 1.25rem;
          display: flex;
          .right {
            margin-left: auto;
          }
        }
      }
    }
  }
}
