@import "scss/variables";

.registration-content-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $lightGray;
  padding: 1rem 1.25rem 0.75rem;
  margin: -1rem -1.25rem 1rem;
  font-size: 0.875rem;
  &-icon {
    margin-right: 1rem;
    fill: $white;
    background: $primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  &-title {
    font-weight: 600;
  }
  &-subtitle {
    color: $subtitle;
    font-size: 0.7rem;
  }
}
