@import "scss/variables";

.form {
  display: flex;
  flex-direction: column;
  &__label {
    display: block;
    margin-bottom: 0.35rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
  &__input {
    background: $white;
    border: 0.0625rem solid #e4e6eb;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    transition: box-shadow $transition;
    &:hover {
      box-shadow: $shadow;
    }
    &:focus {
      box-shadow: $shadow;
      border-color: $primary;
    }
  }
}
