@import "scss/variables";

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 1.9rem;
  &:hover {
    .checkbox__box {
      background: #f0efef;
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    &:checked {
      & ~ .checkbox__box {
        background: $primary;
        border-color: $primary;
        .checkbox__icon {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  &__label {
    .checkbox {
      &__title {
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: -0.05rem;
      }
      &__subtitle {
        color: $subtitle;
        font-size: 0.7rem;
      }
    }
  }
  &__box {
    position: absolute;
    left: 0;
    width: 1.15rem;
    height: 1.15rem;
    border: 1px solid $border;
    box-shadow: $shadowSm;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    .checkbox__icon {
      stroke: $white;
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      transition: $transition;
    }
  }
}
