@import "scss/variables";

.checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 1.9rem;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    &:checked {
      & ~ .checkbox-box {
        background: $primary;
        border-color: $primary;
        .checkbox-checkmark {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  &-label {
    h4 {
      font-size: 0.85rem;
      font-weight: 600;
      margin-bottom: -0.05rem;
    }
    p {
      color: $subtitle;
      font-size: 0.7rem;
    }
  }
  &-box {
    position: absolute;
    left: 0;
    width: 1.15rem;
    height: 1.15rem;
    border: 1px solid $border;
    box-shadow: $shadowSm;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    .checkbox-checkmark {
      stroke: $white;
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      transition: $transition;
    }
  }
  &:hover {
    .checkbox-box {
      background: #f0efef;
    }
  }
}
