@import "scss/variables";
@import "scss/breakpoints";

.event {
  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: start;
    }
    .event__header {
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 1rem;
      }
      .event__text {
        display: flex;
        align-items: center;
        .event__title {
          font-weight: 600;
          font-size: 1.35rem;
          margin-right: 1rem;
        }
      }
      .event__subtitle {
        &-container {
          display: flex;
          margin-top: 0.25rem;
          > * + * {
            margin-left: 1.5rem;
          }
        }
        svg {
          stroke: $subtitle;
          margin-right: 0.35rem;
        }
        display: flex;
        align-items: center;
        color: $subtitle;
        font-size: 0.75rem;
      }
    }
  }
  &__body {
    margin-top: 1.75rem;
  }
}
