@import "scss/variables";
@import "scss/breakpoints";

.event-detail-container {
  .event-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: start;
    }
    .event-detail-title {
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 1rem;
      }
      .event-detail-subtitle {
        display: flex;
        align-items: center;
        h2 {
          font-weight: 600;
          font-size: 1.35rem;
        }
        > * + * {
          margin-left: 1rem;
        }
      }
      .event-detail-info {
        &-container {
          display: flex;
          margin-top: 0.25rem;
          > * + * {
            margin-left: 1.5rem;
          }
        }
        svg {
          stroke: $subtitle;
          margin-right: 0.35rem;
        }
        display: flex;
        align-items: center;
        color: $subtitle;
        font-size: 0.75rem;
      }
    }
  }
  .event-detail-body {
    margin-top: 1.75rem;
    .event-detail-tab {
      display: flex;
      overflow: auto;
      white-space: nowrap;
      border-bottom: 1px solid $border;
      font-weight: 600;
      > * + * {
        margin-left: 1rem;
      }
      &-item {
        font-size: 0.8rem;
        cursor: pointer;
        padding: 0.45rem 1.25rem;
        color: $gray;
        &:hover {
          color: $text;
        }
        &.active {
          border-bottom: 2px solid $primary;
          color: $text;
        }
      }
    }
    .event-detail-content {
      margin-top: 2rem;
    }
  }
}
