@import "scss/variables";

.registration-detail-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.registration-detail-item {
  p {
    font-size: 0.7rem;
    font-weight: 500;
    color: $gray;
  }
  h4 {
    font-weight: 500;
    font-size: 0.875rem;
  }
}

.registration-section-ticket {
  display: flex;
  justify-content: space-between;
  border: 1px solid $border;
  box-shadow: $shadowSm;
  border-radius: 0.5rem;
  padding: 1rem;
  &-content {
    &-title {
      display: flex;
      align-items: center;
      h4 {
        display: inline-block;
        margin-right: 0.5rem;
        font-weight: 600;
      }
    }
    &-description {
      color: $subtitle;
      font-size: 0.85rem;
      margin-top: 0.25rem;
    }
  }
  &-info {
    &-price {
      font-weight: 600;
      font-size: 1.05rem;
      color: $primary;
    }
  }
}

.registration-section-workshop {
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 0;
    &-content {
      h4 {
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: -0.1rem;
      }
      p {
        color: $subtitle;
        font-size: 0.7rem;
      }
    }
    &-info {
      text-align: right;
      h4 {
        color: $primary;
        font-size: 0.9rem;
      }
      p {
        color: $subtitle;
        font-size: 0.65rem;
      }
    }
  }
}

.registration-section {
  &-container {
    > * + * {
      margin-top: 2.25rem;
    }
  }
  &-title {
    margin-bottom: 0.85rem;
    padding-bottom: 0.45rem;
    border-bottom: 1px solid $lightGray;
    h4 {
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  &-content {
    .registration-section {
      &-attendee {
        > * + * {
          margin-top: 0.85rem;
        }
        .registration-detail-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        .registration-detail-item {
          p {
            font-size: 0.7rem;
            font-weight: 500;
            color: $gray;
          }
          h4 {
            font-weight: 500;
            font-size: 0.875rem;
          }
        }
      }
      &-ticket {
        display: flex;
        justify-content: space-between;
        border: 1px solid $border;
        box-shadow: $shadowSm;
        border-radius: 0.5rem;
        padding: 1rem;
        &-content {
          &-title {
            display: flex;
            align-items: center;
            h4 {
              display: inline-block;
              margin-right: 0.5rem;
              font-weight: 600;
            }
          }
          &-description {
            color: $subtitle;
            font-size: 0.85rem;
            margin-top: 0.25rem;
          }
        }
        &-info {
          &-price {
            font-weight: 600;
            font-size: 1.05rem;
            color: $primary;
          }
        }
      }
      &-workshop {
        &-item {
          display: flex;
          justify-content: space-between;
          padding: 0.45rem 0;
          &-content {
            h4 {
              font-size: 0.85rem;
              font-weight: 600;
              margin-bottom: -0.1rem;
            }
            p {
              color: $subtitle;
              font-size: 0.7rem;
            }
          }
          &-info {
            text-align: right;
            h4 {
              color: $primary;
              font-size: 0.9rem;
            }
            p {
              color: $subtitle;
              font-size: 0.65rem;
            }
          }
        }
      }
    }
  }
}
