@import "scss/variables";

.header {
  &__title {
    font-size: 1.45rem;
    margin: 0;
  }
  &__line {
    margin: 0 0.75rem;
    color: $border;
  }
  &__body {
    display: flex;
    margin-top: 0.25rem;
    font-size: 0.75rem;
  }
  &__label {
    color: $subtitle;
    &--bold {
      font-weight: 500;
      color: $text;
    }
  }
}
