$primary: #345dee;
$primaryDark: #284ed6;
// $primaryDark: #d62655;
$secondary: #345dee;
$dark: #18214d;
$gray: #adb5bd;
$placeholder: #dee4eb;
$white: #ffffff;
$text: #2c3242;

// $shadow: 0 0 0.125rem 0.125rem rgba(238, 52, 101, 0.15);
// $shadow: 0 0 0.125rem 0.125rem rgba(40, 78, 214, 0.15);
$shadow: rgba(52, 93, 238, 0.25) 0px 0px 0px 3px;
