@import-normalize;

@import "variables";
@import "breakpoints";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  outline: none;
  color: $text;
}

::selection {
  background: $primary;
  color: $white;
}

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
  @media screen and (min-width: $breakpoint-sm) {
    max-width: 540px;
  }
  @media screen and (min-width: $breakpoint-md) {
    max-width: 720px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 960px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    max-width: 1140px;
  }
}

.text-primary {
  color: $primary;
}
