@import "scss/variables";

.event-timeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  .channel-sidebar {
    .channel-list {
      height: 300px;
      overflow: auto;
      padding-right: 0.5rem;
      > * + * {
        margin-top: 0.65rem;
      }
    }
  }
  .timeline {
    &-container {
      position: relative;
      overflow-y: auto;
      padding-bottom: 0.75rem;
      &::-webkit-scrollbar {
        height: 0.5rem;
      }
      &::-webkit-scrollbar-track {
        background: none;
      }
      &::-webkit-scrollbar-thumb {
        transition: $transition;
        background: #c3c3c3;
        border-radius: 10rem;
        &:hover {
          background: #a8a5a5;
        }
      }
    }
    &-content {
      background: $white;
      margin-top: 3rem;
    }
  }
}
