@import "scss/variables";

.event-timeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  .channel-sidebar {
    .channel-list {
      height: 300px;
      overflow: auto;
      padding-right: 0.5rem;
      > * + * {
        margin-top: 0.65rem;
      }
    }
  }
  .timeline {
    &-container {
      overflow-y: auto;
      padding-bottom: 0.75rem;
      &::-webkit-scrollbar {
        height: 0.5rem;
      }
      &::-webkit-scrollbar-track {
        background: none;
      }
      &::-webkit-scrollbar-thumb {
        transition: $transition;
        background: #c3c3c3;
        border-radius: 10rem;
        &:hover {
          background: #a8a5a5;
        }
      }
    }
    &-header {
      h1 {
        span {
          margin-right: 0.25rem;
          color: $gray;
        }
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
      }
      p {
        color: $subtitle;
        font-size: 0.875rem;
      }
    }
    &-content {
      background: $white;
      margin-top: 3rem;
      .timeline-table {
        .timeline-header {
          border-top: 1px solid $border;
          .timeline-cell {
            flex: 1;
            padding: 0.5rem 1rem;
            color: $subtitle;
            font-weight: 500;
            font-size: 0.75rem;
          }
        }
        .timeline-header,
        .timeline-row {
          display: flex;
          min-width: 900px;
          border-bottom: 1px solid $border;
          .timeline-cell {
            &.timeline-room-header,
            &.timeline-room-title {
              border-right: 1px solid $border;
              max-width: 10rem;
            }
          }
        }
        .timeline-body {
          .timeline-row {
            .timeline-room-title {
              font-weight: 500;
              cursor: pointer;
              transition: $transition;
            }
            &:hover {
              background: $lightGray;
              .timeline-room-title {
                font-weight: 500;
                background: $primary;
                color: $white;
              }
            }
            .timeline-cell {
              padding: 2rem 1rem;
              flex: 1;
              font-size: 0.875rem;
              .session-list {
                display: flex;
                position: relative;
                height: 100%;
                .session-item {
                  position: absolute;
                  left: 0;
                  font-size: 0.65rem;
                  padding: 0.25rem 0.5rem;
                  border-radius: 0.25rem;
                  font-weight: 500;
                  background: white;
                  box-shadow: $shadowSm;
                  word-break: break-all;
                  cursor: pointer;
                  transition: $transition;
                  &:hover {
                    color: $white;
                  }
                  &.workshop {
                    border: 1px solid $accent;
                    &:hover {
                      background: $accent;
                    }
                  }
                  &.talk {
                    border: 1px solid $primary;
                    &:hover {
                      background: $primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
