.create-event-form {
  > * + * {
    margin-top: 1.25rem;
  }
  button {
    margin-top: 2rem;
  }
  .group-form {
    display: flex;
    > :first-child {
      width: 100%;
    }
    > * + * {
      margin-left: 1rem;
    }
  }
}
