.form {
  &.form--stacked {
    > * + * {
      margin-top: 1.25rem;
    }
  }
  &__actions {
    margin-top: 2rem;
  }
  &__input-group {
    display: flex;
    &#{&}--inline {
      > :first-child {
        width: 100%;
      }
      > * + * {
        margin-left: 1rem;
      }
    }
  }
}
