@import "scss/variables";

.login-form {
  &__link {
    display: block;
    color: $primary;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.75rem;
  }
  &__cta {
    margin-top: 2rem;
  }
  &__input-group {
    > div + div {
      margin-top: 1.25rem;
    }
  }
}
