@import "scss/variables";

.login-form {
  button {
    margin-top: 2rem;
  }
  &__link {
    display: block;
    color: $primary;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.75rem;
  }
  > div + div {
    margin-top: 1.25rem;
  }
}
